$tk-layout-units: (
	('qr', 8, .25rem),
	('c', 3, var(--tk-font-size)),
	('l', 3, var(--tk-line-height)),
);

@each $unit, $max, $def in $tk-layout-units {
	@for $n from 0 through $max {
		$v: calc(#{$n} * #{$def});
		$vst: calc(#{$n} * #{$def} + env(safe-area-inset-top));
		$vsr: calc(#{$n} * #{$def} + env(safe-area-inset-right));
		$vsb: calc(#{$n} * #{$def} + env(safe-area-inset-bottom));
		$vsl: calc(#{$n} * #{$def} + env(safe-area-inset-left));
		@if $def == .25rem {
			$v: #{$n * .25rem}
		}
		.tk-m-#{$n}#{$unit} {
			margin: $v;
		}
		.tk-m-#{$n}#{$unit}-safe-top {
			margin: $v;
			margin-block-start: $vst;
		}
		.tk-m-#{$n}#{$unit}-safe-right {
			margin: $v;
			margin-inline-end: $vsr;
		}
		.tk-m-#{$n}#{$unit}-safe-bottom {
			margin: $v;
			margin-block-end: $vsb;
		}
		.tk-m-#{$n}#{$unit}-safe-left {
			margin: $v;
			margin-inline-start: $vsl;
		}
		.tk-p-#{$n}#{$unit} {
			padding: $v;
		}
		.tk-p-#{$n}#{$unit}-safe-top {
			padding: $v;
			padding-block-start: $vst;
		}
		.tk-p-#{$n}#{$unit}-safe-right {
			padding: $v;
			padding-inline-end: $vsr;
		}
		.tk-p-#{$n}#{$unit}-safe-bottom {
			padding: $v;
			padding-block-end: $vsb;
		}
		.tk-p-#{$n}#{$unit}-safe-left {
			padding: $v;
			padding-inline-start: $vsl;
		}
		.tk-g-#{$n}#{$unit} {
			gap: $v;
		}
		.tk-mx-#{$n}#{$unit} {
			margin-inline-end: $v;
		}
		.tk-mx-#{$n}#{$unit}-safe-right {
			margin-inline-end: $vsr;
		}
		.tk-mx-#{$n}#{$unit}-safe-left {
			margin-inline-start: $vsl;
			margin-inline-end: $v;
		}
		.tk-px-#{$n}#{$unit} {
			padding-inline-start: $v;
			padding-inline-end: $v;
		}
		.tk-px-#{$n}#{$unit}-safe-right {
			padding-inline-start: $v;
			padding-inline-end: $vsr;
		}
		.tk-px-#{$n}#{$unit}-safe-left {
			padding-inline-start: $vsl;
			padding-inline-end: $v;
		}
		.tk-gx-#{$n}#{$unit} {
			column-gap: $v;
		}
		.tk-my-#{$n}#{$unit} {
			margin-block-end: $v;
		}
		.tk-my-#{$n}#{$unit}-safe-top {
			margin-block-start: $vst;
			margin-block-end: $v;
		}
		.tk-my-#{$n}#{$unit}-safe-bottom {
			margin-block-end: $vsb;
		}
		.tk-py-#{$n}#{$unit} {
			padding-block-start: $v;
			padding-block-end: $v;
		}
		.tk-py-#{$n}#{$unit}-safe-top {
			padding-block-start: $vst;
			padding-block-end: $v;
		}
		.tk-py-#{$n}#{$unit}-safe-bottom {
			padding-block-start: $v;
			padding-block-end: $vsb;
		}
		.tk-gy-#{$n}#{$unit} {
			row-gap: $v;
		}
	}
}

.tk-ax {
	&-start.tk-bfx, &-start.tk-ifx {justify-content: start}
	&-center.tk-bfx, &-center.tk-ifx {justify-content: center}
	&-end.tk-bfx, &-end.tk-ifx {justify-content: end}
	&-start.tk-bfy, &-start.tk-ify {align-items: start}
	&-center.tk-bfy, &-center.tk-ify {align-items: center}
	&-end.tk-bfy, &-end.tk-ify {align-items: end}
	&-stretch.tk-bfy, &-stretch.tk-ify {align-items: stretch}
}

.tk-ay {
	&-start.tk-bfx, &-start.tk-ifx {align-items: start}
	&-center.tk-bfx, &-center.tk-ifx {align-items: center}
	&-end.tk-bfx, &-end.tk-ifx {align-items: end}
	&-stretch.tk-bfx, &-stretch.tk-ifx {align-items: stretch}
	&-start.tk-bfy, &-start.tk-ify {justify-content: start}
	&-center.tk-bfy, &-center.tk-ify {justify-content: center}
	&-end.tk-bfy, &-end.tk-ify {justify-content: end}
}

.tk-bfwrap {
	flex-wrap: wrap;
}
