@use 'sass:map';

$tk-bs-outline-bottom-active: 0 1px 0 0 var(--tk-color-border1);
$tk-bs-outline-bottom-inactive: 0 0px 0 0 var(--tk-color-border1);
$tk-bs-shadow-active: 0 2px 2px 0 #00000021;
$tk-bs-shadow-inactive: 0 0px 0px 0 #00000021;
$tk-bs-focus-active: 0 0 0 4px var(--tk-color-focus0);
$tk-bs-focus-inactive: 0 0 0 0px var(--tk-color-focus0);
$tk-font-family-sans: Inter, Roboto, "源ノ角ゴシック JP", "Noto Sans JP", ui-sans-serif, -apple-system, BlinkMacSystemFont, "Hiragino Sans", "ヒラギノ角ゴシック", "Segoe UI", "メイリオ", Meiryo, sans-serif;
$tk-font-feature-settings: "cv02", "cv03", "cv04", "cv05", "cv06", "cv08", "zero";
$tk-transition-in: cubic-bezier(0, 0, 0, 1);

html {
	--tk-line-height: 1.5rem;
	--tk-font-size: 1rem;
	background: var(--tk-color-bg0);
	color: var(--tk-color-fg0);
}

body {
	margin: 0;
	padding: 0;
	line-height: 1.5rem;
	line-break: strict;
	overflow-wrap: break-word;
	word-wrap: break-word;
	list-style-type: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
	text-decoration: none;
	font-family: $tk-font-family-sans;
	font-feature-settings: $tk-font-feature-settings;
	font-size: medium;
}

@import './direction.scss';
@import './theme.scss';
@import './size.scss';
@import './layout.scss';
@import './button.scss';
@import './input.scss';
@import './text.scss';
@import './decoration.scss';
